<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="id" class="id">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let course">{{ course.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef class="containerTable">Curso</th>
    <td mat-cell *matCellDef="let course">
      <div>
        <h2>{{ course.name }}</h2>
        <p>
          {{ course.description }}<br />
          Precio: {{ course.price }}
          <br />
          Duracion: {{ course.duration }}
        </p>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let course">
      <button
        *ngIf="(userRole$ | async) !== 'Student'"
        class="my-5"
        (click)="editCourse.emit(course)"
        mat-raised-button
        color="primary"
      >
        Editar
      </button>
      <button
        *ngIf="(userRole$ | async) !== 'Student'"
        (click)="deleteCourse.emit(course.id)"
        mat-raised-button
        color="warn"
      >
        Eliminar
      </button>
      <button
        *ngIf="(userRole$ | async) !== 'Admin'"
        mat-raised-button
        color="accent"
        routerLink="enrollments"
      >
        inscribirse
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
