<mat-nav-list>
  <mat-list-item>
    <a routerLink="home"><mat-icon>home</mat-icon> Inicio</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="students"><mat-icon>school</mat-icon> Alumnos</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="students"><mat-icon>school</mat-icon> Profesores</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="courses"><mat-icon>view_comfy_alt</mat-icon> Cursos</a>
  </mat-list-item>
  <mat-list-item>
    <a routerLink="enrollments"><mat-icon>app_registration</mat-icon>Inscripciones</a>
  </mat-list-item>
</mat-nav-list>
